<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="home"></i>
    Home
  </li>
  <li nz-submenu nzTitle="Projects" nzIcon="project">
    <ul>
      <li nz-menu-group nzTitle="Media-Analytics.org">
        <ul>
          <li nz-menu-item>Overview</li>
          <li nz-menu-item><a href="https://ng.ant.design">GitHub</a></li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Vue, Buy and Sell">
        <ul>
          <li nz-menu-item routerLink="projects/vue-buy-sell">Overview</li>
          <li nz-menu-item><a href="https://ng.ant.design">GitHub</a></li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Portfolio">
        <ul>
          <li nz-menu-item routerLink="projects/portfolio">Overview</li>
          <li nz-menu-item><a href="https://ng.ant.design">GitHub</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item nzIcon="github">
    <i nz-icon nzType="github"></i>
    <a href="https://github.com/zimbardoex" target="_blank" rel="noopener noreferrer">GitHub</a>
  </li>
</ul>
<div class="continer">
  <router-outlet></router-outlet>
</div>
