<nz-layout>
  <nz-header>
    <img
      class="logo"
      src="assets/logo.png"
      alt="Site logo showing the characters L and C"
    />
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item><a routerLink="/home">Home</a></li>
        <li nz-menu-item><a routerLink="/cv">CV</a></li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content"><router-outlet></router-outlet></div>
  </nz-content>
  <nz-footer>Liam Christensen ©2020 Created with NG-ZORRO</nz-footer>
</nz-layout>
